<script src="/dist/bundle.js"></script>
<a href="/logout">logout</a>

<script>
  // var sheetId = "{{sheet._id}}";
  // var socket = io();
  // socket.emit('join', sheetId);
  // socket.on('joined', function(room) {
  //   console.log('hello, room: ' + room);
  // });
  // socket.on('news', function (data) {
  //   console.log(data);
  //   socket.emit('my other event', { my: 'data' });
  // });
</script>
